@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add @Html.DisplayFor(model => model.Name) to an engineer</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Choose engineer:")
  @Html.DropDownList("EngineerId")
  <br>
  <input type="submit" value="Add machine to engineer" />
}