@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add an engineer to a machine</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Choose engineer:")
  @Html.DropDownList("EngineerId")
  <br>
  <input type="submit" value="Add Engineer to Machine" />
}